$primary-medium-blue: #14181F;
$primary-dark-blue: #0A0C10;
$primary-gray-blue: #272A31;

$light-red: #F02A2F;
$medium-red: #EA1D22;
$dark-red: #B31317;

$light-white: #F4F7FB;
$ice-white: #EDF1F7;
$gray-white: #E5E9EF;

$light-gray: #B5B6B8;
$medium-gray: #A1A3A5;
$dark-gray: #959698;

